@import '../../sass/output.scss';

.space {
  margin-bottom: 50px;

  &--title {
    display: flex;
    align-items: center;
  }

  &--user {
    margin-left: 20px;
  }

  &--description {
    max-width: 600px;
    height: 250px;
    padding: 10px;
    border: 1px solid $black;
  }
}

.table {

  &--tabs {
    display: flex;
  }

  &--tab {
    @include transition(.2s ease background-color);
    padding: 20px;
    background: $accent-light;
    cursor: pointer;

    &.active {
      background: $accent;
    }
  }

  &--table {
    border: 1px solid $black;
    width: 100%;
  }

  &--header {
    background: $main-dark;
    padding: 10px;
    color: $white;
  }

  &--row {
    &:nth-child(odd) {
      background: $neutral-light;
    }
  }

  th, td {
    padding: 8px;
    vertical-align: middle;
  }
}

::ng-deep {
  .mat-sort-header-arrow {
    color: $white;
  }
}
