<section class="space">
  <div class="space--title">
    <h1>{{ space.fields.title }}</h1>
    <h4 class="space--user">created By {{ createdByUser?.fields.name }}</h4>
  </div>
  <div class="space--description">
    <p>{{ space.fields.description ? space.fields.description : 'No description' }}</p>
  </div>
</section>
<section class="table">
  <div class="table--tabs">
    <div
      (click)="showEntries = true; showAssets = false"
      [ngClass]="{ active: showEntries }"
      class="table--tab">
      Entries
    </div>
    <div
      (click)="showEntries = false; showAssets = true"
      [ngClass]="{ active: showAssets }"
      class="table--tab">
      Assets
    </div>
  </div>
  <table *ngIf="showEntries" class="table--table" matSort (matSortChange)="sortEntries($event)">
    <tr class="table--header">
      <th mat-sort-header="title">Title</th>
      <th mat-sort-header="summary">Summary</th>
      <th mat-sort-header="createdBy">Created By</th>
      <th mat-sort-header="updatedBy">Updated By</th>
      <th mat-sort-header="lastUpdated">Last Updated</th>
    </tr>
    <tr *ngFor="let entry of entries" class="table--row">
      <td>{{ entry.fields.title }}</td>
      <td>{{ entry.fields.summary }}</td>
      <td>{{ entry.sys.createdByUser?.fields.name }}</td>
      <td>{{ entry.sys.updatedByUser?.fields.name }}</td>
      <td>{{ entry.sys.updatedAt | date }}</td>
    </tr>
  </table>
  <table *ngIf="showAssets" class="table--table" matSort (matSortChange)="sortAssets($event)">
    <tr class="table--header">
      <th mat-sort-header="title">Title</th>
      <th mat-sort-header="contentType">Content Type</th>
      <th mat-sort-header="fileName">File Name</th>
      <th mat-sort-header="createdBy">Created By</th>
      <th mat-sort-header="updatedBy">Updated By</th>
      <th mat-sort-header="lastUpdated">Last Updated</th>
    </tr>
    <tr *ngFor="let asset of assets" class="table--row">
      <td>{{ asset.fields.title }}</td>
      <td>{{ asset.fields.contentType }}</td>
      <td>{{ asset.fields.fileName }}</td>
      <td>{{ asset.sys.createdByUser?.fields.name }}</td>
      <td>{{ asset.sys.updatedByUser?.fields.name }}</td>
      <td>{{ asset.sys.updatedAt | date }}</td>
    </tr>
  </table>
</section>
