@import '~@angular/material/theming';

/*
    Set variables
*/

$white: #FFF;
$black: #000;

/* Brand Colors */
$main: #512DA8;
$main-dark: #311B92;
$main-light: #9575CD;
$accent: #FFB300;
$accent-dark: #FF6F00;
$accent-light: #FFD54F;
$neutral: #B3B3B3;
$neutral-light: #f2f2f2;
$error: red;

/* Style Properties */
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-medium: 600;
$weight-regular: 400;
$weight-light: 300;

/* Padding */
$padding-sm: rem(5px);
$padding-md: rem(10px);
$padding-lg: rem(15px);

/* Margin */
$margin-sm: rem(5px);
$margin-md: rem(10px);
$margin-lg: rem(15px);
