@import '../../../sass/output.scss';

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $accent;
  padding: 20px 0;

  &--hide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-left: 20px;
    cursor: pointer;
  }
}
