<nav class="nav">
  <ul class="nav--links_wrapper">
    <a *ngFor="let space of spaces" routerLink="/spaceexplorer/{{ space.sys.id }}" routerLinkActive="active" class="nav--link">
      <li>{{ space.fields.title }}</li>
    </a>
  </ul>
</nav>
