@import '../../../sass/output.scss';

.nav {
  width: 220px;
  height: 100vh;
  background-color: $main;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 50px;

  &--links_wrapper {
    list-style: none;
    padding: 0;
  }

  &--link {
    @include transition(.2s ease background-color);
    display: block;
    padding: 20px;
    color: $white;

    &:hover {
      background: $main-dark;
    }

    &.active {
      background-color: $main-dark;
    }
  }
}
