@import './sass/output.scss';

@import './sass/base/reset';

h1, h2, h3 {
  font-weight: $weight-bold;
  margin-bottom: 5px;
}

h1 {
  font-size: 40px;
  margin: 24px 0;

  &.large {
      font-size: 72px;
  }
}

h2 {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -.2px;
}

p, a, span {
  font-size: 14px;
}

p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.jasmine_html-reporter {
  position: relative;
  z-index: 99;
}
